.scroll-area {
  overflow-y: auto;
}

.scroll-panel {
  overflow-y: auto;
  padding: 1rem;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent;
}

/* Chrome, Safari */
.scroll-panel::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  position: absolute; /* не завжди працює, але ідея — накласти */
}

.scroll-panel::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.scroll-panel:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
